<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <img class="ion-margin-top ion-margin-start" src="../../assets/pagbank-logo-mini.png" width="107" height="31">
      <div class="ion-margin-start ion-margin-bottom">Carnês ({{valorTotal | currency:'BRL':'symbol':'1.2-2'}})</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-margin" *ngFor="let crediario of crediarios" (click)='showCrediario(crediario)'>
    <ion-card-header>
      <ion-card-subtitle>Carnê</ion-card-subtitle>
      <ion-card-title>{{crediario.descricao}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>{{crediario.proximoVencimento | date:'shortDate'}}</div>
      <div><b>{{crediario.valorTotal | currency:'BRL':'symbol':'1.2-2'}}</b></div>
    </ion-card-content>
  </ion-card>
</ion-content>
