<ion-content [fullscreen]="true" padding color="primary">
  <img src="../../assets/pagbank-logo.svg" width="320" style="align-items: center"/>
  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle>Cliente</ion-card-subtitle>
      <ion-card-title>Fulano da Silva</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>Saldo</ion-card-subtitle>
      <ion-card-title>R$ 16.590,00</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
